<template>
    <div class="container">
        <h2>Add Article</h2>
        <form v-on:submit.prevent="addArticle()">
            <div class="form-group">
                <label for="email">Title:</label>
                <input type="text" class="form-control" v-model="title" placeholder="Title" name="email">
            </div>
            <div class="form-group">
                <label for="email">Body:</label>
                <input type="text" class="form-control" v-model="body" placeholder="Body" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Number :</label>
                <input type="text" class="form-control" v-model="number" placeholder="Number" name="pwd">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
    name:'Add',
    data() {
        return {
            title:'',
            number:'',
            body:'',
        }
    },
    methods: {
        ...mapMutations('blog', ['allArticleget']),
        ...mapActions('blog', ['generateDataArticle']),
        addArticle()
        {
            const article = {
                title: this.title,
                userId: this.number,
                body: this.body,
            }
            this.generateDataArticle( article ).then(alert('Data Berhasil di tambahkan'))
        },
        
    },
    computed: {
        ...mapGetters('blog', ['getDataArticle']),
        getAllDataArticle() {
            return this.getDataArticle
        },
    },
    created(){
    }
}
</script>
    
