<template>
    <div class="container">
        <h2>Edit Article</h2>
        <form v-on:submit.prevent="editArticle">
            <div class="form-group">
                <label for="email">Title:</label>
                <input type="text" class="form-control" v-model="title" placeholder="Title" name="judul">
            </div>
            <div class="form-group">
                <label for="pwd">Number:</label>
                <input type="text" class="form-control" v-model="number" placeholder="Number" name="penulis">
            </div>
            <div class="form-group">
                <label for="pwd">Body:</label>
                <input type="text" class="form-control" v-model="body" placeholder="Body" name="penulis">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";
export default {
    name:'Edit',
    data() {
        return {
            id:this.$route.params.id,
            title:'',
            number:'',
            body:'',
        }
    },
    methods: {
        ...mapMutations('blog', ['UpdateArticle']),
        ...mapActions('blog', ['updateDataArticle']),
        editArticle()
        {
            const ArticleId = this.id
            const article = {
                id : this.id,
                title: this.title,
                body: this.body,
                userId: this.number,
            }
            this.updateDataArticle( [ ArticleId, article ] ).then(alert('Data Berhasil di Rubah'))
        },
        
    },
    computed: {
        ...mapGetters('blog', ['getDataArticlebyId']),
    },
     created(){
        const getById = this.getDataArticlebyId( this.id )
        this.title = getById.title
        this.body = getById.body
        this.number = getById.userId
    }
}
</script>
    
