<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8" 
            v-for="(article,index) in getAllDataArticle" 
            :key="index" >
                <h1 class="my-4">{{article.title}}
                </h1>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title">{{article.body}}</h4>
                        <a href="#" @click="removeData(index)" class="btn btn-danger">Delete</a>
                        <router-link
                            class="btn btn-primary"
                            exact
                            :to="{ path: '/edit/'+index }"
                            >
                            Edit
                        </router-link>
                        <!-- <a href="#" @click="editData(index)" class="btn btn-primary">Edit</a> -->
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by
                        <a href="#">Start Bootstrap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
    data() {
        return {
        }
    },
    name:'Home',
    methods: {
        ...mapActions('blog', ['getDataArticleApi']),
        ...mapActions('blog', ['removeDataArticle']),
        removeData( index ){  
            var cek = confirm("Apakah anda akan menghapusnya ?")
            if(cek === true)
            {
                this.removeDataArticle( index )
            }
        },
        getAlldata(){  
            if(this.getDataArticle.length == 0){
                this.getDataArticleApi()
            }
        },
    },
    computed: {
        ...mapGetters('blog', ['getDataArticle']),
        getAllDataArticle(){
            return this.getDataArticle
        },
        
    },
    created(){
        this.getAlldata()
    }
}
</script>
    
