<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <router-link
            class="nav-link"
            active-class="active"
            exact
            :to="{ name: 'home' }"
            >
            Home
          </router-link>
          </li>
          <li class="nav-item">
            <router-link
            class="nav-link"
            active-class="active"
            exact
            :to="{ name: 'add' }"
            >
            Add
          </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'Header',
  props: {
    msg: String
  }
}
</script>